

button{
    width: clamp(5px,30vw, 300px);
    height: clamp(5px,10vw, 90px);
    background-color: blue; 
    color: white;
    border-radius: 10px;
    transition: all 1s;
}

h1{
    font-size: clamp(1px,1vh,20px);
    font-family: Impact;
}

p{
    font-size: clamp(1px,3vh,15px);
}

button:hover{
    background-color: green;
    transform: scale(1.1);
}
